{% extends 'layout.html.twig' %}

{% block footer %}
    <footer>
        <p>
            Pour nous contacter : <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>
        </p>
    </footer>
{% endblock %}